.footer__contacts-num {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 145.81%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #696969;
  position: relative;
}
.footer__contacts-num::before {
  content: " ";
  background-image: url("../../images/phone.svg");
  width: 12px;
  height: 12px;
  position: absolute;
  top: 4px;
  left: -18px;
}
