.footer__link-socila {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.04em;
  color: #696969;
  padding-right: 50px;
  text-decoration: none;
}
.footer__link-socila:last-of-type {
  padding-right: 0;
}
