.header__title {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  line-height: 115px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
