.footer__link {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.04em;
  color: #c8c7c7;
  text-decoration: none;
  padding-right: 32px;
}
.footer__link:last-of-type {
  padding-right: 0;
}
