.about__title {
  margin: 0;
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #1c1c1c;
  display: inline-block;
  position: relative;
  padding-left: 0;
  
}
.about__title::before {
  content: " ";
  background: #b6d7e8;
  width: 14px;
  height: 1px;
  top: 12px;
  left: -15px;
  position: absolute;
}
