.projects__subtitle-document {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-align: right;
  letter-spacing: 0.03em;
  color: #1c1c1c;
  margin: 0;
}
