.calculator__slider-titel {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 124.49%;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin: 0;
}
